*{
  font-family: "cursive";
}
.img1 {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  position: fixed;
  z-index: -1;
}

.Img99 {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
  /* position: fixed; */
  z-index: -1;
}

.hero-container {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}


.hero-container1 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 400px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


.hero-btns .btn {
  margin: 6px;
  border-radius: 7px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 550;
  text-align: center;
  font-size: 120%;

}

.hero-btns:hover .btn {
  background-color: rgb(255, 255, 255); 
  color: black; 
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* For All Cards Css */
.cards {
  padding: 2rem;
  background: #fff;
}

.cards1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #fff;
}


.h1Home {
  /* text-align: center; */
  display: inline;
  margin-left: 35.8%;
  padding-bottom: 10px;
  border-bottom: 2px solid #e173bc;
  
}

.h1Home1 {
  text-align: center;
  /* border-bottom: 2px solid #ff00b3; */
}

/* Cards */

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 20px 0 0 0;
}

.cards__items {
  margin-bottom: 24px;
  margin-top: 20px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}


/* Small Card */
.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 1px 3px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 10px 10px 10px;
}


.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

/*  */
/*  */

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  width: 80%;
  margin-left: 11%;
  margin-right: 12%;
  animation-delay: 1s;
  
}

/*  */
/*  */
/*  */


.Finaldiv div{
  margin-left: 50%;
  margin-top: -30%;
  background-size: cover;
  height: 400px;
  width: 40%;
  margin-left: 55%;
}


.Finaldiv p{
  
  text-align: left;
  max-width: 45%;
  margin-right: 250px;
  font-size: 25px;
  font-weight: 650;
  height: 400px;
  margin-top: 10px;
  margin-left: 5%;
}


.Finaldiv p h2{
  font-size: 40px;
  font-weight: 650;
  margin-left: -3px;
  margin-top: -10px;
  margin-bottom: 10px;
}


/*  */
/*  */
/*  */

.divh{
  text-align: center;
  margin: -10px 0 35px 25px;
  border-bottom: 2px solid #90f0f5;
  width: 35%;
  margin-left: 33%;
  padding-bottom: 10px;
}